hci
hci_test

.DS_Store
*.dSYM
*.log
*.txt
*.eps
out*
*.out.*
amplxe*
massif*
config.json
Makefile.config
bridges.sh
.nfs*
dft.sh

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
