{
  "type": "heg",
  "n_up": 7,
  "n_dn": 7,
  "r_s": 0.5,
  "rcut_vars": [1.5, 2.0, 2.5],
  "eps_vars": [0.005,0.002, 0.001],
  "rcut_pts": [2.0, 2.5, 3.0],
  "eps_pts": [0.0005, 0.0002, 0.0001, 0.00005]
}
